<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorVer3</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GoogleMaps">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Google Maps
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddGoogleMapPin">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Google map pin
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="YouTube">
                <span class="oi oi-list-rich" aria-hidden="true"></span> YouTube API
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CardsDB">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cards DB
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RESTConsume">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hash service (REST)
            </NavLink>
        </div>
   

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
